In [1]:
import pandas as pd

In [3]:
df_ndx = pd.read_csv('ndx.csv')
df_ndx.head()

,Ticker,Name,Price,Curr Shares Out,marketcap,symbol
0,AAPL UW Equity,Apple Inc,191.3300,4915138048,940000000000,AAPL
1,AMZN UW Equity,Amazon.com Inc,1813.0300,485226912,880000000000,AMZN
2,MSFT UW Equity,Microsoft Corp,105.4300,7683197440,810000000000,MSFT
3,FB UW Equity,Facebook Inc,207.3200,2398606080,497000000000,FB
4,GOOG UW Equity,Alphabet Inc,1188.8199,348952224,415000000000,GOOG

In [4]:
df_spx = pd.read_csv('spx.csv')
df_spx.head()

,Ticker,Name,Price,Curr Shares Out,marketcap,symbol
0,AAPL UW Equity,Apple Inc,191.3300,4915138048,940000000000,AAPL
1,AMZN UW Equity,Amazon.com Inc,1813.0300,485226912,880000000000,AMZN
2,MSFT UW Equity,Microsoft Corp,105.4300,7683197440,810000000000,MSFT
3,FB UW Equity,Facebook Inc,207.3200,2398606080,497000000000,FB
4,GOOG UW Equity,Alphabet Inc,1188.8199,348952224,415000000000,GOOG

In [6]:
only_ndx = [item for item in df_ndx.symbol.values if item not in df_spx.symbol.values]
len(only_ndx)

18

In [7]:
only_ndx

['ASML',
 'BIDU',
 'VOD',
 'TSLA',
 'SHPG',
 'TMUS',
 'JD',
 'NTES',
 'SIRI',
 'CTRP',
 'WDAY',
 'BMRN',
 'CHKP',
 'MXIM',
 'LBTYK',
 'MELI',
 'QRTEA',
 'LBTYA']